@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

@font-face {
    font-family: "COCOGOOSE";
    src:
      local("Cocogoose_trial"),
      url("../font/cocogoose/Cocogoose_trial.ttf");
}

:root {
    --primary-color: #ec5242;
    --secondary-color: #272a31;
    --bg-color: #d3d3d3;
    --font-color: #999;
}

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
  
body {
    margin: 0;
    font-family: "Lato", sans-serif;
    text-decoration: none;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,h2 {
    font-family: "COCOGOOSE", sans-serif;
}

.img {
    width: 100%;
    height: auto;
}

.container {
    max-width: 1170px;
    padding-left: 14px;
    padding-right: 14px;
    margin: 0 auto;
}

.row {
    display: flex;
}

.text-center {
    text-align: center;
}

/* buttons  */

.btn {
    display: inline-flex;
    padding: 8px 12px;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    cursor: pointer;    
    transition: all 500ms linear;
    text-align: center;
    font-weight: bold;
}

.btn-primary{
    background: var(--primary-color);
    border: 1px solid var(--primary-color);
    color: #fff;
    padding: 20px 38px !important;
}

.btn-outline-primary{
    background: #fff;
    border: 5px solid var(--primary-color);
    color: var(--primary-color);
}

.btn-more{
    font-weight: 500;
    display: block !important;
    background: #fff;
    border: 1px solid var(--font-color);
    width: 100%;
}

.btn-more .fa {
    color: var(--primary-color);
}

/* heading  */
.heading {
    padding: 20px 0;
    text-align: center;
}

.heading h2{
    font-family: "Lato";
    margin: 10px;
}

.heading-white {
    color: white;
}

.heading-primary {
    color: #000;
}

.heading h2::after {
    content: "";
    display: block;
    width: 50px;
    height: 1.5px;
    text-align: center;
    background-color: var(--primary-color);
    transform: translateX(-50%);
    left: 50%;
    position: relative;
    margin-top: 10px;
}

/* TOP NAV  */
.top-nav {
    display: none;
    background-color: #272A31;
    padding: 8px 0;
}

.top-nav ul {
    justify-content: end;
}

.top-nav li {
    padding: 0 7px;
}

.top-nav a {
    color: #fff;
    font-size: 12px;
}

/* navbar */
.navbar {
    background-color: transparent;
    padding: 20px 0;
    width: 100%;
}
  
.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.navbar .logo {
    display: none;
    width: 30%;
}

.nav-link {
    display: none;
}  
  
.bars {
    display: flex;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
    width: 28px;
}
  
.bars .bar-item {
    border: 2px solid var(--secondary-color);
    border-radius: 2px;
}

/* Hero  */
.header {
    background-color: #E8E8E7;
    background-image: url("../images/bg1.png"), url("../images/bg2.png"),url("../images/bg3.png");
    background-repeat: no-repeat;
    background-position: 55% 123%,left,100% 20%;
    background-size: 32%, 30%,30%;
    min-height: 430px;
}

.hero {
    padding-bottom: 60px;
    padding-top: 30px;
}

.hero .greeting {
    font-size: 16px;
}

.hero h1 {
    font-size: 22px;
    line-height: 1.5;
    background-image: url(../images/banner-text.png);
    background-position: left 90%;
    -webkit-background-clip: text;
    margin: 10px 0;
    color: transparent;
}

.hero .description{
    background-color: #f1f1f1;
    border: 2px solid #fff;
    margin: 20px 0;
}

.hero .description p {
    margin: 0;
    padding: 15px;
    color: var(--secondary-color);
    font-size: 13px;
    font-weight: 700;
}

.hero .time {
    color: #504f4f;
    font-size: 17px;
    margin: 0;
}

.hero .location {
    color: #757575;
    margin: 0;
    font-weight: bold;
}

/* programs sections */
.programs {
    background:url("../images/programBg.png");
    padding-bottom: 3rem;
}

.program-cards {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 3rem;
}

.program {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: rgba(217, 217, 217, 0.15);
    align-items: center;
}

.program p {
    width: 50%;
    color: #fff;
}

.program h3 {
    width: 24%;
    font-family: "Lato", sans-serif;
    color: var(--primary-color);
}

.program img {
    width: 10%;
}

/* speakers */
.speakers {
    padding-bottom: 3rem;
}

.speaker-cards {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 2rem;
}

.speaker {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    width: 100%;
}

.speaker .speaker-image {
    width: 31%;
    position: relative;
    margin-top: 15px;
}

.speaker .speaker-image::before {
    content: "";
    width: 70px;
    height: 70px;
    background-image: url(../images/sqbgDark.png);
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    left: -14px;
    top: -14px;
    z-index: -1;
}

.speaker .details {
    width: 65%;
}

.speaker .details h3, h4 {
    margin: 0;
}

.speaker .details h3 {
    color: var(--secondary-color);
    font-size: 17px;
}

.speaker .details h4 {
    color: var(--primary-color);
    font-style: italic;
    margin-top: 6px;
    font-size: 14px;
}

.speaker .details h4::after {
    content: "";
    display: block;
    width: 20px;
    height: 1.5px;
    text-align: center;
    background-color: var(--bg-color);
    margin-top: 12px;
}

.speaker .details p {
    margin: 0;
    padding-top: 6px;
    font-size: 13px;
    color: #1f1e1e;
}

/* partners  */
.partners {
    background-color: #414245;
}

.partners ul {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    margin: 2rem 0;
    justify-content: space-around;
}

.partners li {
    width: 28%;
}

.partners img{
    width: 100%;
    height: 35px;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

/* footnote  */
.footnote {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem 0;
}

.footnote img{
    width: 18%;
    height: 40px;
}

.footnote p {
    width: 55%;
    font-size: 12px;
    color: var(--secondary-color);
}

.footnote a {
    color: var(--secondary-color);
}
